{
  "postgres": {
    "host": "{{ pg_host }}",
    "user": "{{ pg_user }}",
    "pass": "{{ pg_pass }}",
    "name": "{{ pg_db_name }}",
    "options": {}
  },
  "dialect": "postgres",
  "port": "{{ semaphore_port }}",
  "interface": "",
  "tmp_path": "/tmp/semaphore",
  "cookie_hash": "cGl6ZGVjbmFodWlibHlhdA==",
  "cookie_encryption": "",
  "access_key_encryption": "",
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "web_host": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",
    "uid": "",
    "cn": ""
  },
  "telegram_chat": "",
  "telegram_token": "",
  "concurrency_mode": "",
  "max_parallel_tasks": 0,
  "email_alert": false,
  "telegram_alert": false,
  "slack_alert": false,
  "slack_url": "",
  "rocketchat_alert": false,
  "rocketchat_url": "",
  "ldap_enable": false,
  "ldap_needtls": false,
  "use_remote_runner": true,
  "runner_registration_token": "{{ registration_token }}"
}